.contact-tumb {
    @media screen and (min-width: 1200px) {
        display: flex;

    }
}

.contact-list {
    display: flex;
    padding-left: 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    flex-direction: column-reverse;
    align-items: flex-start;

@media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;    
}
@media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
   


&__link-letter {
            display: flex;
            text-decoration: none;
            align-items: center;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            margin-bottom: 64px;
            color: #757575;
    
            @media screen and (min-width: 768px) {
            font-size: 12px;
            margin-top: 21px;
            margin-bottom: 10px;
            }

            @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.14;
            margin-top: 0;
            margin-bottom: 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            &:hover,
            &:focus {
            color: $accent;
            }
            
}

&__link-phone {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.16;
    color: $accent;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

            @media screen and (min-width: 768px) {
                    font-size: 12px;
                    margin-bottom: 0;
                    color: #757575;
            }
            @media screen and (min-width: 1200px) {
                    font-size: 14px;
                    line-height: 1.14;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                color: $accent;}
            }

}


&__icon {
    display: none;

@media screen and (min-width:768px) {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
}
@media screen and (min-width:1200px) {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}
}

}