.contact-list {
    display: none;
    margin-left: auto;
    padding-left: 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    gap: 30px;
}

.contact-list__link {
    display: inline-flex;
    padding: 32px 0px 32px;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: inherit;

    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //     color: $accent;
    // }
}

.contact-list__icon {
    margin-right: 10px;
    fill: currentColor;
}

