.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer__tumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: inherit;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    font-size: 26px;
    line-height: 1.19;
    }

&--accent {
    color: $accent;
}
}