.mobile-social {
    display: none;
    
    @media screen and (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
        
        
        
        
        
    }
}

.mobile-social__item {
&:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }
 
}

.mobile-social__link {
    
    font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: #2196F3;
        list-style: none;
        text-decoration: none;
    
                
}