.backdrop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // overflow-y: scroll;
    
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
& .modal {
    transform: scale(2);
}
}


.modal {
    position: absolute;
    top: 93px;
    width: 100%;
    // width: 528px;
    // height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

 @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
 }       


&__close-btn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    padding: 6px 6px;
    background-color: transparent;
    /* background-image: url(/images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;


&:hover,
&:focus {
    fill: $accent;
}
}
}