.nav-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    padding-left: 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    // margin-left: 93px;
    &.is-open {
        display: block;
    }
}

.nav-list__item {
    margin-left: 50px;
}

.nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: inherit;
    color: $black-title;
//     &:hover,
//     &:focus
         
//           {  color: $accent;}
        
        &--current {
    color: $accent;
//             &::after {
//                     position: absolute;
//                     content: "";
//                     display: block;
//                     bottom: -1px;
//                     width: 100%;
//                     height: 4px;
//                     border-radius: 4px;
//                     background-color: $accent;
// }
        }
    }
