.subscribe-form {
display: block;

@media screen and (min-width: 768px) {
    padding-top: 60px;
    text-align: center;
}
}

.subscribe__title {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    color: $white-title;
}


.subscribe-form__input {
    
    width: 100%;    
    height: 50px;
    margin-top: 20px;
    padding: 13px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: #2f303a;
    color: $main-bg;

@media screen and (min-width:480px) {
        width: 450px;
}



&::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
}

.subscribe-form__btn {
    display: flex;
    align-items: center;
    border: none;
    margin: 20px auto 0px auto;
    padding: 10px 28px;
    border-radius: 4px;
    background-color: $accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $main-bg;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    
}

.subscribe-form__icon {
    margin-left: 10px;
}