.team {
    background-color: $secondary-bg;
}

.team__title {
    color: $black-title;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    // font-size: 36px;
    // line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
    // margin-bottom: 50px;
    letter-spacing: 0.03em;
}

.team__subtitle {
    color: $black-title;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }
}



.team__item {
    
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;



        // &:not(:first-child) {
        //         margin-left: 30px;
        //     }
         
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        
        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
                
    }

}

.team__description {
    padding-top: 30px;
    padding-bottom: 24px;
    // padding: 30px 0px;
}
}