body {
    background-color: $main-bg;
    font-family: $main-font;
    
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

@media screen and (min-width: 480px) {
    width: 480px;
}
@media screen and (min-width: 768px) {
    width: 768px;
}
@media screen and (min-width: 1200px) {
    width: 1200px;
}
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
        }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}