$main-bg: #ffffff;
$secondary-bg: #f5f4fa;
$accent: #2196f3;
$main-text: #757575;
$black-title: #212121;
$white-title: #ffffff;
$header-logo-clr: #000000;
$benefits-icon__tumb: #f5f4fa;
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
